$font-family-base: "Nunito",Ubuntu,sans-serif;

$input-btn-focus-width: 0;

$input-transition:      border-color .1s ease-in-out;

$border-radius:         0.05rem;
$btn-border-radius-sm:  0.05rem;
$btn-border-radius-md:  0.05rem;

// canvas min-width
$offcanvas-horizontal-width: 580px;